<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <div class="grid grid-12col">
        <h1 class="charname grid-span-8"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        </h1>

        <div class="resource flex-group-center grid-span-2">
          <label for="system.attributes.level" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.level" value="{{system.attributes.level}}" data-dtype="Number" />
          </div>
        </div>

        {{#if (showTC)}}
        <div class="resource flex-group-center grid-span-2">
          <label for="system.race" class="resource-label">Clan</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.race" value="{{system.race}}" />
          </div>
        </div>
        {{else}}
        <div class="resource flex-group-center grid-span-2">
          <label for="system.race" class="resource-label">Race</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.race" value="{{system.race}}" />
          </div>
        </div>
        {{/if}}
      </div>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="resources grid grid-4col">
        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.hp.value" class="resource-label">HP</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number" />
            <input type="text" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number" disabled />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.mp.value" class="resource-label">MP</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.mp.value" value="{{system.mp.value}}" data-dtype="Number" />
            <input type="text" name="system.mp.max" value="{{system.mp.max}}" data-dtype="Number" disabled />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.fate.value" class="resource-label">Fate</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.fate.value" value="{{system.fate.value}}" data-dtype="Number" />
            <input type="text" name="system.fate.max" value="{{system.fate.max}}" data-dtype="Number" disabled />
          </div>
        </div>

        {{#if (showTC)}}
        {{else}}
        <div class="resource flex-group-center">
          <label for="system.fuseID" class="resource-label">Fuse ID</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.fuseID" value="{{system.fuseID}}" />
          </div>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="grid grid-5col" style="flex-basis: 100%;">
      <div class="abilities flexcol">
        {{#each system.stats as |ability key|}}
        <div class="ability flexrow flex-group-center">
          <label for="system.stats.{{key}}.value" class="resource-label clickable {{key}}-roll align-left"
            data-roll="d100" data-label="{{localize (lookup @root.config.statAbbreviations key)}}">
            {{localize (lookup @root.config.statAbbreviations key)}}
            {{#ifEq ../system.favoredStat key}}
            *
            {{/ifEq}}</label>
          <input type="text" name="system.stats.{{key}}.value" class="update-stat" value="{{ability.value}}"
            data-dtype="Number" />
          <span class="ability-mod" data-label="{{localize (lookup @root.config.stats key)}}">{{ability.tn}}%</span>
        </div>
        {{/each}}
      </div>

      <div class="flexrow grid-span-2">
        <div class="align-center" style="border: 2px groove #eeede0;">
          <label for="system.meleePower" class="resource-label">
            {{#if (showTC)}}Physical{{else}}Melee{{/if}}</label>
          <div>
            <h1 class="melee-power-roll clickable">{{system.meleePower}}</h1>
          </div>
          <div class="flexrow flex-group-center" style="padding: 6px;">+&nbsp;<input type="text"
              name="system.powerDice.melee" value="{{system.powerDice.melee}}" data-dtype="Number" />&nbsp;d10</div>
        </div>

        <div class="align-center" style="border: 2px groove #eeede0;">
          <label for="system.rangedPower" class="resource-label">Ranged</label>
          <div>
            <h1 class="ranged-power-roll clickable">{{system.rangedPower}}</h1>
          </div>
          <div class="flexrow flex-group-center" style="padding: 6px;">+&nbsp;<input type="text"
              name="system.powerDice.ranged" value="{{system.powerDice.ranged}}" data-dtype="Number" />&nbsp;d10</div>
        </div>

        <div class="align-center" style="border: 2px groove #eeede0;">
          <label for="system.spellPower" class="resource-label">
            {{#if (showTC)}} Magical{{else}}Spell{{/if}}</label>
          <div>
            <h1 class="spell-power-roll clickable">{{system.spellPower}}</h1>
          </div>
          <div class="flexrow flex-group-center" style="padding: 6px;">+&nbsp;<input type="text"
              name="system.powerDice.spell" value="{{system.powerDice.spell}}" data-dtype="Number" />&nbsp;d10</div>
        </div>

        <div class="align-center" style="border: 2px groove #eeede0;">
          <label for="system.init" class="resource-label">Init</label>
          <div>
            <h1 class="initiative-roll clickable">{{system.init}}</h1>
          </div>
          <div class="flexrow flex-group-center" style="padding: 6px;">+&nbsp;<input type="text"
              name="system.powerDice.init" value="{{system.powerDice.init}}" data-dtype="Number" />&nbsp;d10</div>
        </div>



        <div class="flexrow" style="flex-basis: 100%;">
          <div class="align-center" style="border: 2px groove #eeede0;">
            <label for="system.init" class="resource-label">Dodge TN</label>
            <div class="dodge-roll clickable">
              <h1>{{system.dodgetn}}%</h1>
            </div>
          </div>

          <div class="align-center" style="border: 2px groove #eeede0;">
            <label for="system.init" class="resource-label">Talk TN</label>
            <div class="talk-roll clickable">
              <h1>{{system.talktn}}%</h1>
            </div>
          </div>

          <div class="align-center" style="border: 2px groove #eeede0;">
            <label for="system.init" class="resource-label">
              {{#if (showTC)}}Phy Res{{else}}Phy Def{{/if}}</label>
            <div>
              <h1>{{system.phydef}}</h1>
            </div>
          </div>

          <div class="align-center" style="border: 2px groove #eeede0;">
            <label for="system.init" class="resource-label">
              {{#if (showTC)}}Mag Res{{else}}Mag Def{{/if}}</label>
            <div>
              <h1>{{system.magdef}}</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="flexcol grid-span-2">
        <div class='flexrow' style="justify-content: center; align-items: center;">
          <label class="resource-label flex0">Affinity&nbsp;</label>
          <!-- <label for="system.badStatus" class="resource-label align-right">Status:&nbsp;</label>
                          <select name="system.badStatus">
                            {{#if (showTC)}}
                            {{selectOptions @root.config.badStatusList_TC selected=system.badStatus localize=true}}
                            {{else}}
                            {{selectOptions @root.config.badStatusList selected=system.badStatus localize=true}}
                            {{/if}}
                          </select>
                          <label for="system.isCursed" class="resource-label align-right">!CURSED!&nbsp;</label>
                          <input type="checkbox" name="system.isCursed" {{#if system.isCursed}}checked{{/if}} /> -->
        </div>
        <div class='flexrow' style="font-weight: bold">
          {{system.displayAffinity}} {{#if system.displayAffinityBS}} / {{system.displayAffinityBS}}{{/if}}
          <!-- <input type="text" name="system.affinityField" value="{{system.affinityField}}" /> -->
        </div>

        <textarea name="system.biography" rows="5" cols="40">{{system.biography}}</textarea>
      </div>

      <div class="flexcol grid-span-3">
        <div class="flexrow">
          <label for="system.alignment" class="resource-label">Alignment&nbsp;</label>
          <input type="text" name="system.alignment" class="flex2" value="{{system.alignment}}" />

          {{#if (showTC)}}
          <label for="system.tone" class="resource-label">&emsp;Behavior&nbsp;</label>
          {{else}}
          <label for="system.tone" class="resource-label">&emsp;Tone&nbsp;</label>
          {{/if}}
          <input type="text" name="system.tone" class="flex2" value="{{system.tone}}" />
        </div>

        <div class="flexrow">
          {{#if (showTC)}}
          <label for="system.keywords" class="resource-label">Evolve?&nbsp;</label>
          {{else}}
          <label for="system.keywords" class="resource-label">Keywords&nbsp;</label>
          {{/if}}
          <input type="text" name="system.keywords" class="flex2" value="{{system.keywords}}" />


          {{#if (showTC)}}
          <label for="system.ngWords" class="resource-label">&emsp;Inherits&nbsp;</label>
          {{else}}
          <label for="system.ngWords" class="resource-label">&emsp;NG Words&nbsp;</label>
          {{/if}}
          <input type="text" name="system.ngWords" class="flex2" value="{{system.ngWords}}" />
        </div>
      </div>

      <div class="flexcol grid-span-2">
        <div class="flexrow">
          <label for="system.loot" class="resource-label flex0">Loot&nbsp;</label>
          <input type="text" name="system.loot" class="flex2" value="{{system.loot}}" />

          <label for="system.attributes.exp.tierOne" class="resource-label flex0">&nbsp;EXP&nbsp;</label>
          <input type="text" name="system.attributes.exp.tierOne" class="flex1"
            value="{{system.attributes.exp.tierOne}}" {{#if system.autoEXP}}disabled{{/if}} />
        </div>

        <div class="flexrow">
          <label for="system.rare" class="resource-label flex0">Rare&nbsp;</label>
          <input type="text" name="system.rare" class="flex2" value="{{system.rare}}" />

          <label for="system.macca" class="resource-label flex0">&nbsp;Macca&nbsp;</label>
          <input type="text" name="system.macca" class="flex1" value="{{system.macca}}" {{#if
            system.autoEXP}}disabled{{/if}} />
        </div>
      </div>
    </div>
  </header>


  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="effects">Options</a>
  </nav>


  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="main">
        <div class="grid grid-4col">
          <div class="flexrow flex-center flex-between align-center">
            <i title="Toggles resetting this field to 0% after rolling a TN check."
              class="fa-solid clickable {{#if system.resetModTN}}fa-arrows-spin{{else}}fa-xmark{{/if}} toggle-resetModTN"
              style="margin: auto;"></i>
            <span class="flex2" style="margin: auto;">TN Mod:</span>
            <i class="fa-solid clickable fa-minus decrease-quickModTN" style="margin: auto;"></i>
            <input type="text" name="system.quickModTN" value="{{system.quickModTN}}%" data-dtype="Number" disabled />
            <i class="fa-solid clickable fa-plus increase-quickModTN" style="margin: auto;"></i>
          </div>
        </div>
      </section>


      <section class="main">
        {{> "systems/smt-200x/templates/actor/parts/npc-features.hbs"}}
      </section>


      <section class="main">
        {{> "systems/smt-200x/templates/actor/parts/actor-passives.hbs"}}
      </section>
    </div>


    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      <section class="main">
        {{> "systems/smt-200x/templates/actor/parts/actor-effects.hbs"}}
      </section>
      <hr>

      <section>
        <div class='flexrow flex-group-center'>
          <div class="flex2"><strong>Ready Weapon</strong></div>
          <div><strong>Type</strong></div>
          <div><strong>Hit Mod</strong></div>
          <div><strong>Pwr Mod</strong></div>
        </div>

        <div class='flexrow flex-group-center'>
          <div class='flexrow flex2 item-name' style="align-items: center">
            <label for="system.wepA.name" class="flex0"><strong>A:</strong>&nbsp;</label>
            <input type="text" name="system.wepA.name" value="{{system.wepA.name}}" disabled />
          </div>
          <input type="text" name="system.wepA.type" value="{{system.wepA.type}}" disabled />
          <input type="text" name="system.wepA.hit" value="{{system.wepA.hit}}" data-dtype="Number" disabled />
          <input type="text" name="system.wepA.power" value="{{system.wepA.power}}" data-dtype="Number" disabled />
        </div>

        <div class='flexrow flex-group-center'>
          <div class='flexrow flex2 item-name' style="align-items: center">
            <label for="system.wepB.name" class="flex0"><strong>B:</strong>&nbsp;</label>
            <input type="text" name="system.wepB.name" value="{{system.wepB.name}}" />
          </div>
          <input type="text" name="system.wepB.type" value="{{system.wepB.type}}" />
          <input type="text" name="system.wepB.hit" value="{{system.wepB.hit}}" data-dtype="Number" />
          <input type="text" name="system.wepB.power" value="{{system.wepB.power}}" data-dtype="Number" />
        </div>
      </section>

      <hr>

      <section class="main">
        <div class="grid grid-6col">
          <div class="flexcol">
            <label for="system.hp.mult" class="resource-label">HP Multiplier</label>
            <input type="text" name="system.hp.mult" value="{{system.hp.mult}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.mp.mult" class="resource-label">MP Multiplier</label>
            <input type="text" name="system.mp.mult" value="{{system.mp.mult}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label class="resource-label"
              title="Tokyo Conception Demon Favored Stat (marks an asterisk by a stat for randomized level-up stats)">Favored
              Stat</label>
            <select name="system.favoredStat">
              <option value="none">None</option>
              {{selectOptions @root.config.stats selected=system.favoredStat localize=true}}
            </select>
          </div>

          <div class="flexcol">
            <label for="system.unarmed.hit" class="resource-label">Unarmed Hit</label>
            <input type="text" name="system.unarmed.hit" value="{{system.unarmed.hit}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.unarmed.power" class="resource-label">Unarmed Power</label>
            <input type="text" name="system.unarmed.power" value="{{system.unarmed.power}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.powerDice.item" class="resource-label">Item Power Dice</label>
            <input type="text" name="system.powerDice.item" value="{{system.powerDice.item}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.allowFate" class="resource-label">Show Spend Fate Prompt</label>
            <input type="checkbox" name="system.allowFate" {{#if system.allowFate}}checked{{/if}} />
          </div>

          <div class="flexcol">
            <label for="system.isBoss" class="resource-label">Is X Boss</label>
            <input type="checkbox" name="system.isBoss" {{#if system.isBoss}}checked{{/if}} />
          </div>

          <div class="flexcol">
            <label for="system.autoEXP" class="resource-label">Auto Calc X EXP/Macca</label>
            <input type="checkbox" name="system.autoEXP" {{#if system.autoEXP}}checked{{/if}} />
          </div>
        </div>
      </section>


      <br><br>
      <section class="main">
        {{> "systems/smt-200x/templates/part-affinity-bs-selectors.hbs"}}
      </section>
    </div>
  </section>
</form>