<section class="buff-effects-widget">
    {{#ifEq useTugOfWar false}}
    <div class="flexrow flex-group-center">
        <span class="flex"></span>
        <span class="flex">Buffs/#</span>
        <span class="flex">Total</span>
        <span class="flex">Debuffs/#</span>
    </div>

    <div class="flexrow flex-group-center">
        <span class="buff-label flex3">{{#if taruOnly}}Pow{{else}}Phy Pow{{/if}}</span>
        <input class="buff-input" type="text" data-category="tarukaja" data-field="amount"
            value="{{effects.tarukaja.amount}}" />
        <input class="buff-input" type="number" data-category="tarukaja" data-field="count"
            value="{{effects.tarukaja.count}}" />
        <span class="buff-input">+</span>
        <input class="buff-input" type="number" value="{{effects.taruTotal}}" disabled />
        <span class="buff-input">-</span>
        <input class="buff-input" type="number" data-category="tarunda" data-field="amount"
            value="{{effects.tarunda.amount}}" />
        <input class="buff-input" type="number" data-category="tarunda" data-field="count"
            value="{{effects.tarunda.count}}" />
    </div>

    {{#ifEq taruOnly false}}
    <div class="flexrow flex-group-center">
        <span class="buff-label flex3">Mag Pow</span>
        <input class="buff-input" type="text" data-category="makakaja" data-field="amount"
            value="{{effects.makakaja.amount}}" />
        <input class="buff-input" type="number" data-category="makakaja" data-field="count"
            value="{{effects.makakaja.count}}" />
        <span class="buff-input">+</span>
        <input class="buff-input" type="number" value="{{effects.makaTotal}}" disabled />
        <span class="buff-input">-</span>
        <input class="buff-input" type="number" data-category="makunda" data-field="amount"
            value="{{effects.makunda.amount}}" />
        <input class="buff-input" type="number" data-category="makunda" data-field="count"
            value="{{effects.makunda.count}}" />
    </div>
    {{/ifEq}}

    <div class="flexrow flex-group-center">
        <span class="buff-label flex3">Def</span>
        <input class="buff-input" type="text" data-category="rakukaja" data-field="amount"
            value="{{effects.rakukaja.amount}}" />
        <input class="buff-input" type="number" data-category="rakukaja" data-field="count"
            value="{{effects.rakukaja.count}}" />
        <span class="buff-input">+</span>
        <input class="buff-input" type="number" value="{{effects.rakuTotal}}" disabled />
        <span class="buff-input">-</span>
        <input class="buff-input" type="number" data-category="rakunda" data-field="amount"
            value="{{effects.rakunda.amount}}" />
        <input class="buff-input" type="number" data-category="rakunda" data-field="count"
            value="{{effects.rakunda.count}}" />
    </div>

    <div class="flexrow flex-group-center">
        <span class="buff-label flex3">Acc</span>
        <input class="buff-input" type="text" data-category="sukukaja" data-field="amount"
            value="{{effects.sukukaja.amount}}" />
        <input class="buff-input" type="number" data-category="sukukaja" data-field="count"
            value="{{effects.sukukaja.count}}" />
        <span class="buff-input">+</span>
        <input class="buff-input" type="number" value="{{effects.sukuTotal}}" disabled />
        <span class="buff-input">-</span>
        <input class="buff-input" type="number" data-category="sukunda" data-field="amount"
            value="{{effects.sukunda.amount}}" />
        <input class="buff-input" type="number" data-category="sukunda" data-field="count"
            value="{{effects.sukunda.count}}" />
    </div>
    <hr>
    <div class="flexrow flex-group-center">
        <button class="flex dekaja-button smtx-buff-button">Clear Buffs</button>
        <button class="flex dekunda-button smtx-buff-button">Clear Debuffs</button>
    </div>
    {{/ifEq}}

    {{#if useTugOfWar}}
    <div class="flexrow flex-group-center">
        <span class="flex">Min/Max: {{tugMin}} ~ {{tugMax}}</span>
    </div>

    <div class="flexrow flex-group-center">
        <span class="buff-label">{{#if taruOnly}}Pow{{else}}Phy Pow{{/if}}</span>
        <input class="buff-input" type="text" data-category="tarukaja" data-field="amount"
            value="{{effects.tarukaja.amount}}" />
    </div>

    {{#ifEq taruOnly false}}
    <div class="flexrow flex-group-center">
        <span class="buff-label">Mag Pow</span>
        <input class="buff-input" type="text" data-category="makakaja" data-field="amount"
            value="{{effects.makakaja.amount}}" />
    </div>
    {{/ifEq}}

    <div class="flexrow flex-group-center">
        <span class="buff-label">Def</span>
        <input class="buff-input" type="text" data-category="rakukaja" data-field="amount"
            value="{{effects.rakukaja.amount}}" />
    </div>

    <div class="flexrow flex-group-center">
        <span class="buff-label">Acc</span>
        <input class="buff-input" type="text" data-category="sukukaja" data-field="amount"
            value="{{effects.sukukaja.amount}}" />
    </div>
    <hr>
    <div class="flexrow flex-group-center">
        <button class="flex dekaja-button smtx-buff-button">Clear Buffs</button>
        <button class="flex dekunda-button smtx-buff-button" style="width: 120px;">Clear Debuffs</button>
    </div>
    {{/if}}
</section>