<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        <h2>DISPLAY INFO</h2>
        <div class="grid grid-4col">
          <div class="flexcol">
            <label for="system.gp" class="resource-label">GP</label>
            <input type="text" name="system.gp" value="{{system.gp}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.vt" class="resource-label">VT</label>
            <input type="text" name="system.vt" value="{{system.vt}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.sex" class="resource-label">Sex</label>
            <input type="text" name="system.sex" value="{{system.sex}}" />
          </div>

          <div class="flexcol">
            <label for="system.alignment" class="resource-label">Alignment</label>
            <input type="text" name="system.alignment" value="{{system.alignment}}" />
          </div>

          <div class="flexcol">
            <label for="system.buy" class="resource-label">Buy</label>
            <input type="text" name="system.buy" value="{{system.buy}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.sell" class="resource-label">Sell</label>
            <input type="text" name="system.sell" value="{{system.sell}}" data-dtype="Number" />
          </div>
        </div>

        <div class="flexcol">
          <label for="system.shortEffect" class="resource-label">Short Effect</label>
          <input type="text" name="system.shortEffect" value="{{system.shortEffect}}" />
        </div>

        <br><br>

        <h2>WEAPON CONFIGURATION</h2>
        <div class="grid grid-3col">
          <div class="flexcol">
            <label for="system.type" class="resource-label">Type</label>
            <input type="text" name="system.type" value="{{system.type}}" />
          </div>

          <div class="flexcol">
            <label for="system.hit" class="resource-label">Hit</label>
            <input type="text" name="system.hit" value="{{system.hit}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.power" class="resource-label">Power</label>
            <input type="text" name="system.power" value="{{system.power}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.ammo" class="resource-label">Ammo</label>
            <input type="text" name="system.ammo" value="{{system.ammo}}" data-dtype="Number" />
          </div>

          <div class="flexcol">
            <label for="system.maxAmmo" class="resource-label">Max Ammo</label>
            <input type="text" name="system.maxAmmo" value="{{system.maxAmmo}}" data-dtype="Number" />
          </div>
        </div>

        <h2>WEAPON OVERRIDE</h2>
        <div class="grid grid-3col">
          <div class="flexcol">
            <label for="system.critRate" class="resource-label"
              title="The critical rate override for attacks made using this weapon">critRate</label>
            <input type="text" name="system.critRate" value="{{system.critRate}}" />
          </div>

          <div class="flexcol">
            <label for="system.critMult" class="resource-label"
              title="The critical multiplier override for attacks made using this weapon">critMult</label>
            <input type="text" name="system.critMult" value="{{system.critMult}}" data-dtype="Number" />
          </div>
        </div>
      </div>

      {{!-- Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/smt-200x/templates/item/parts/item-effects.hbs"}}
      </div>
  </section>

</form>