<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <label for="system.shortEffect" class="resource-label">Short Effect</label>
      <input type="text" name="system.shortEffect" value="{{system.shortEffect}}" />

      <br><br>
      <h2><input type="checkbox" name="system.changeAffinity" {{#if system.changeAffinity}}checked{{/if}} />
        Affinity Change</h2>
      <!-- <div class="flexcol">
                  <label for="system.setAffinity" class="resource-label">Overwrite Affinities</label>
                  <input type="checkbox" name="system.setAffinity" {{#if system.setAffinity}}checked{{/if}} />
                </div> -->
      {{#if system.changeAffinity}}
      <div class="grid grid-6col">
        {{#each system.affinity as |aff key|}}
        <div class="flexcol">
          <label for="system.affinity.{{key}}" class="resource-label align-center">{{localize
            (lookup @root.config.affinities key)}}</label>
          <select name="system.affinity.{{key}}">
            {{selectOptions @root.config.charAffinity selected=aff localize=true}}
          </select>
        </div>
        {{/each}}
      </div>
      <hr>
      <div class="grid grid-6col">
        {{#each system.affinityBS as |aff key|}}
        <div class="flexcol">
          <label for="system.affinityBS.{{key}}" class="resource-label align-center">{{localize
            (lookup @root.config.badStatusList key)}}</label>
          <select name="system.affinityBS.{{key}}">
            {{selectOptions @root.config.charAffinity selected=aff localize=true}}
          </select>
        </div>
        {{/each}}
      </div>
      {{/if}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/smt-200x/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>

</form>