<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <h2>DISPLAY INFO</h2>
      <div class="grid grid-4col">
        <div class="flexcol">
          <label for="system.type" class="resource-label">Type</label>
          <input type="text" name="system.type" value="{{system.type}}" />
        </div>

        <div class="flexcol">
          <label for="system.cost" class="resource-label">Display Cost</label>
          <input type="text" name="system.cost" value="{{system.cost}}" />
        </div>

        <div class="flexcol">
          <label for="system.target" class="resource-label">Target</label>
          <input type="text" name="system.target" value="{{system.target}}" />
        </div>

        <div class="flexcol">
          <label for="system.affinity" class="resource-label">Affinity</label>
          <select name="system.affinity">
            {{selectOptions @root.config.affinities selected=system.affinity localize=true}}
          </select>
        </div>

        <div class="flexcol">
          <label for="system.uses.value" class="resource-label">Uses</label>
          <input type="text" name="system.uses.value" value="{{system.uses.value}}" data-dtype="Number" />
        </div>

        <div class="flexcol">
          <label for="system.uses.max" class="resource-label">Max Uses</label>
          <input type="text" name="system.uses.max" value="{{system.uses.max}}" data-dtype="Number" />
        </div>
      </div>

      <div class="flexcol">
        <label for="system.shortEffect" class="resource-label">Short Description</label>
        <input type="text" name="system.shortEffect" value="{{system.shortEffect}}" />
      </div>

      <br><br>

      <h2>Target Number Config</h2>
      <div class="flexrow">
        <div class="flexcol">
          <label class="resource-label">TN Base</label>
          <select name="system.baseTN" {{#ifEq system.tn "" }}{{else}}disabled{{/ifEq}}>
            {{selectOptions @root.config.tns localize=true selected=system.baseTN}}
          </select>
        </div>

        <div class="flexcol flex2">
          <label for="system.modTN" class="resource-label">TN Mod</label>
          <input type="text" name="system.modTN" value="{{system.modTN}}" />
        </div>

        <div class="flexcol flex2">
          <label for="system.tn" class="resource-label">TN Base Override</label>
          <input type="text" name="system.tn" value="{{system.tn}}" />
        </div>
      </div>

      <br>
      <h2>Power Config</h2>
      <div class="flexrow">
        <div class="flexcol">
          <label class="resource-label">Power Base</label>
          <select name="system.basePower" {{#ifEq system.power "" }}{{else}}disabled{{/ifEq}}>
            {{selectOptions @root.config.powers localize=true selected=system.basePower}}
          </select>
        </div>

        <div class="flexcol flex2">
          <label for="system.modPower" class="resource-label">Power Mod</label>
          <input type="text" name="system.modPower" value="{{system.modPower}}" />
        </div>

        <div class="flexcol flex2">
          <label for="system.power" class="resource-label">Power Base Override</label>
          <input type="text" name="system.power" value="{{system.power}}" />
        </div>
      </div>

      <br>
      <h2>Power Dice Config</h2>
      <div class="flexrow">
        <div class="flexcol">
          <label class="resource-label">Dice Base</label>
          <select name="system.basePowerDice" {{#ifEq system.powerDice "" }}{{else}}disabled{{/ifEq}}>
            {{selectOptions @root.config.powerDice localize=true selected=system.basePowerDice}}
          </select>
        </div>

        <div class="flexcol">
          <label for="system.modPowerDice" class="resource-label">Extra Dice</label>
          <input type="number" name="system.modPowerDice" value="{{system.modPowerDice}}" {{#ifEq system.powerDice ""
            }}{{else}}disabled{{/ifEq}} />
        </div>

        <div class="flexcol">
          <label for="system.explodeDice" class="resource-label">Exploding</label>
          <input type="checkbox" name="system.explodeDice" {{#if system.explodeDice}}checked{{/if}} {{#ifEq
            system.powerDice "" }}{{else}}disabled{{/ifEq}} />
        </div>

        <div class="flexcol flex3">
          <label for="system.powerDice" class="resource-label"
            title="The dice used for an attack. 1d10x for exploding dice.">Dice Override</label>
          <input type="text" name="system.powerDice" value="{{system.powerDice}}" />
        </div>
      </div>

      <br><br>

      <h2>COST-BUTTON CONFIGURATION</h2>
      <div class="grid grid-4col">
        <div class="flexcol">
          <label for="system.hpCost" class="resource-label">HP Cost</label>
          <input type="text" name="system.hpCost" value="{{system.hpCost}}" />
        </div>

        <div class="flexcol">
          <label for="system.mpCost" class="resource-label">MP Cost</label>
          <input type="text" name="system.mpCost" value="{{system.mpCost}}" />
        </div>

        <div class="flexcol">
          <label for="system.fateCost" class="resource-label">Fate Cost</label>
          <input type="text" name="system.fateCost" value="{{system.fateCost}}" />
        </div>

        <div class="flexcol">
          <label for="system.ammoCost" class="resource-label">Ammo Cost</label>
          <input type="text" name="system.ammoCost" value="{{system.ammoCost}}" />
        </div>
      </div>

      <br><br>

      <h2>ATTACK CONFIGURATION</h2>
      <div class="grid grid-4col">
        <div class="flexcol">
          <label for="system.ingoreDefense" class="resource-label">Ignores Defense</label>
          <input type="checkbox" name="system.ingoreDefense" {{#if system.ingoreDefense}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.halfDefense" class="resource-label">Ignores 1/2 Defense</label>
          <input type="checkbox" name="system.halfDefense" {{#if system.halfDefense}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.pierce" class="resource-label">Pierce (unused)</label>
          <input type="checkbox" name="system.pierce" {{#if system.pierce}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.powerBoost" class="resource-label">Power Boost</label>
          <input type="text" name="system.powerBoost" value="{{system.powerBoost}}" data-dtype="Number" />
        </div>

        <div class="flexcol">
          <label for="system.affectsHP" class="resource-label">Affects HP</label>
          <input type="checkbox" name="system.affectsHP" {{#if system.affectsHP}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.affectsMP" class="resource-label">Affects MP</label>
          <input type="checkbox" name="system.affectsMP" {{#if system.affectsMP}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label class="resource-label" title="This affects some niche rules cases and Bad Status interactions.">Attack
            Type</label>
          <select class="flex0" name="system.attackType">
            {{selectOptions @root.config.attackTypes localize=true selected=system.attackType}}
          </select>
        </div>

        <div class="flexcol">
          <label for="system.disableMultiaction" class="resource-label">Disable Multi-action</label>
          <input type="checkbox" name="system.disableMultiaction" {{#if system.disableMultiaction}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.lifeDrain" class="resource-label"
            title="The % of HP restored from the effective damage dealt to a target">Life drain</label>
          <input type="text" name="system.lifeDrain" value="{{system.lifeDrain}}" data-dtype="Number" />
        </div>

        <div class="flexcol">
          <label for="system.manaDrain" class="resource-label"
            title="The % of MP restored from the effective damage dealt to a target">Mana drain</label>
          <input type="text" name="system.manaDrain" value="{{system.manaDrain}}" data-dtype="Number" />
        </div>
      </div>

      <br><br>

      <h2>BAD STATUS CONFIGURATION</h2>
      <div class="grid grid-4col">
        <div class="flexcol">
          <label for="system.badStatusChance" class="resource-label">BS%</label>
          <input type="number" name="system.badStatusChance" value="{{system.badStatusChance}}" />
        </div>

        <div class="flexcol">
          <label for="system.appliesBadStatus" class="resource-label">Inflicted Status</label>
          {{#if (showTC)}}
          <select name="system.appliesBadStatus">
            {{selectOptions @root.config.badStatusChoices_TC selected=system.appliesBadStatus localize=true}}
          </select>
          {{else}}
          <select name="system.appliesBadStatus">
            {{selectOptions @root.config.badStatusChoices selected=system.appliesBadStatus localize=true}}
          </select>
          {{/if}}
        </div>

        <div class="flexcol">
          <label>Inflicted Effect</label>
          <div class="effect-drop-zone" style="border: 2px dashed #888; padding: 10px; text-align: center;">
            {{#if system.inflictedEffect}}
            <p>Linked Effect: {{system.inflictedEffect}}</p>
            {{else}}
            <p>Drag an effect here</p>
            {{/if}}
          </div>
        </div>

        <div class="flexcol">
          <label class="resource-label">Remove Link</label>
          <button class="remove-effect-link">Click to remove.</button>
        </div>
      </div>

      {{#ifEq system.appliesBadStatus "hpCut"}}
      <div class="flexcol">
        <label for="system.hpCut" class="resource-label" title="Reduce a target's current HP to this percentage">HP
          Cut (Reduce a target's current HP to this percentage of itself.)</label>
        <div class="flexrow">
          <input type="range" name="system.hpCut" min="0.01" max="1" step="0.01" value="{{system.hpCut}}">
          <input type="number" disabled value="{{system.hpCut}}">
        </div>
      </div>
      {{/ifEq}}

      {{#ifEq system.appliesBadStatus "hpSet"}}
      <div class="flexcol">
        <label for="system.hpSet" class="resource-label"
          title="Set a target's HP to this value. Blank for no effect; Use -1 to set to Full HP">HP
          Set</label>
        <input type="text" name="system.hpSet" value="{{system.hpSet}}" data-dtype="Number" />
      </div>
      {{/ifEq}}

      <br><br>

      <h2>WEAPON CONFIGURATION</h2>
      <div class="grid grid-3col">
        <div class="flexcol">
          <label for="system.wep" class="resource-label">Weapon</label>
          <select name="system.wep">
            {{selectOptions @root.config.weaponChoices selected=system.wep localize=true}}
          </select>
        </div>

        <div class="flexcol">
          <label for="system.wepIgnoreTN" class="resource-label">No Weapon TN</label>
          <input type="checkbox" name="system.wepIgnoreTN" {{#if system.wepIgnoreTN}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.wepIgnorePower" class="resource-label">No Weapon Power</label>
          <input type="checkbox" name="system.wepIgnorePower" {{#if system.wepIgnorePower}}checked{{/if}} />
        </div>
      </div>

      <br><br>

      <h2>CRIT CONFIGURATION</h2>
      <div class="grid grid-4col">
        <div class="flexcol">
          <label for="system.critMult" class="resource-label">Crit Dmg Multiplier</label>
          <input type="text" name="system.critMult" value="{{system.critMult}}" data-dtype="Number" />
        </div>

        <div class="flexcol">
          <label for="system.critRange" class="resource-label">Crit Rate</label>
          <input type="text" name="system.critRange" value="{{system.critRange}}" />
        </div>

        <div class="flexcol">
          <label for="system.flatCritChance" class="resource-label">Flat Crit Chance</label>
          <input type="text" name="system.flatCritChance" value="{{system.flatCritChance}}" />
        </div>

        <div class="flexcol">
          <label for="system.flatCritDamage" class="resource-label">Flat Crit Dmg</label>
          <input type="text" name="system.flatCritDamage" value="{{system.flatCritDamage}}" />
        </div>

        <div class="flexcol">
          <label for="system.hideCritDamage" class="resource-label">Hide Crit Damage</label>
          <input type="checkbox" name="system.hideCritDamage" {{#if system.hideCritDamage}}checked{{/if}} />
        </div>
      </div>

      <br><br>

      <h2>BUFF and DEBUFFs</h2>
      <div class="grid grid-4col">
        <div class="flexcol">
          <label for="system.buffs.sukukaja" class="resource-label">Sukukaja Effect</label>
          <input type="checkbox" name="system.buffs.sukukaja" {{#if system.buffs.sukukaja}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.buffs.sukunda" class="resource-label">Sukunda Effect</label>
          <input type="checkbox" name="system.buffs.sukunda" {{#if system.buffs.sukunda}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.buffs.tarukaja" class="resource-label">Tarukaja Effect</label>
          <input type="checkbox" name="system.buffs.tarukaja" {{#if system.buffs.tarukaja}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.buffs.tarunda" class="resource-label">Tarunda Effect</label>
          <input type="checkbox" name="system.buffs.tarunda" {{#if system.buffs.tarunda}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.buffs.rakukaja" class="resource-label">Rakukaja Effect</label>
          <input type="checkbox" name="system.buffs.rakukaja" {{#if system.buffs.rakukaja}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.buffs.rakunda" class="resource-label">Rakunda Effect</label>
          <input type="checkbox" name="system.buffs.rakunda" {{#if system.buffs.rakunda}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.buffs.makakaja" class="resource-label">Makakaja Effect</label>
          <input type="checkbox" name="system.buffs.makakaja" {{#if system.buffs.makakaja}}checked{{/if}} />
        </div>

        <div class="flexcol">
          <label for="system.buffs.makunda" class="resource-label">Makunda Effect</label>
          <input type="checkbox" name="system.buffs.makunda" {{#if system.buffs.makunda}}checked{{/if}} />
        </div>
      </div>

      <label for="system.subBuffRoll" class="resource-label">Sub Buff Roll</label>
      <input type="text" name="system.subBuffRoll" value="{{system.subBuffRoll}}" />

    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/smt-200x/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>

</form>